html {
  --color-primary: #03cafc;
  --color-text-disabled: #999999;
  --color-borders: #444444;
  --color-info: rgba(0, 199, 255, 0.3);
  --color-link: #03cafc;

  --color-background: white;
  --color-background-darker: #eeeeee;
  --color-text: black;

  background-color: var(--color-background);
  color: var(--color-text);
}

@media (prefers-color-scheme: dark) {
  html {
    --color-background: #333333;
    --color-background-darker: #222222;
    --color-text: white;
  }
}

div {
  color: var(--color-text);
}

a {
  color: var(--color-link) !important;
}

input {
  background-color: var(--color-background) !important;
  border-color: var(--color-borders) !important;
  color: var(--color-text) !important;
}

input:focus {
  border-color: var(--color-borders) !important;
  box-shadow: 0 0 0 !important;
  outline: 0 none !important;
}

input::placeholder {
  color: var(--color-text-disabled) !important;
}

button {
  border-color: var(--color-borders) !important;
  color: var(--color-text) !important;
}

.btn-borderless {
  border: none !important;
}

.btn:hover {
  background-color: var(--color-background-darker) !important;
}

.bg-darker {
  background-color: var(--color-background-darker) !important;
}

.w-95 {
  width: 95% !important;
}

.border-rounded {
  border-radius: 15px !important;
  border: var(--color-borders) solid !important;
}

.bg {
  background-color: var(--color-background) !important;
}

.bg-infos {
  background-color: var(--color-info) !important;
}


.w-24 {
  width: 24% !important;
}

.w-15 {
  width: 15% !important;;
}

.w-20 {
  width: 20% !important;;
}

.message-input {
  border-radius: var(--bs-border-radius) 0 0 var(--bs-border-radius) !important;
}

.btn-message-input {
  border-radius: 0 var(--bs-border-radius) var(--bs-border-radius) 0 !important;
}

.min-w50 {
  min-width: 50% !important;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.font-bold {
  font-weight: bold;
}

.scrollable {
  overflow-y: auto;
}

.btn-sidebar {
  background-color: var(--color-background-darker);
  border: none;
}

.btn-sidebar-selected {
  background-color: var(--color-background);
}

.table td {
  color: var(--color-text) !important;
  background-color: var(--color-background) !important;
  border-color: var(--color-borders) !important;
}

.table th {
  color: var(--color-text) !important;
  background-color: var(--color-background) !important;
  border-color: var(--color-borders) !important;
  border-bottom: var(--color-borders) solid 2px !important;
}

.table-darker td {
  background-color: var(--color-background-darker) !important;
}

.table-darker th {
  background-color: var(--color-background-darker) !important;
}

.table-selectable tr:hover td {
  background-color: var(--color-background-darker) !important;
}

.table-row-selected td {
  background-color: var(--color-background-darker) !important;
}

.cursor-pointer {
  cursor: pointer;
}

.px-6 {
  padding-right: 6.25rem !important;
  padding-left: 6.25rem !important;
}

.min-h0 {
  min-height: 0 !important;
}

.flex-1 {
  flex: 1 !important;
}

@media (min-width: 768px) {
  .h-md-100 {
    height: 100% !important;
  }

  .w-md-20 {
    width: 20% !important;
  }

  .overflow-md-hidden {
    overflow: hidden !important;
  }

  .overflow-md-auto {
    overflow: auto !important;
  }
}

progress {
  height: 10px;
  appearance: none;
}

progress::-webkit-progress-bar {
  background-color: var(--color-background);
  border-radius: 10px;
  padding-top: 0.25px !important;
}

progress::-webkit-progress-value {
  background-color: var(--color-primary);
  border-radius: 10px;
  height: 9.5px !important;
}

.blur {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  backdrop-filter: blur(2px);
}

.update-dialog {
  position: absolute;
  left: 30vw;
  top: 32vh;
  width: 40vw;
  height: 36vh;
  background-color: var(--color-background);
  opacity: 1;
  z-index: 101;
  border: 1px solid var(--color-borders) !important;
  border-radius: 5px;
}

.text-small {
  font-size: 13px;
}

/* <svg xmlns="http://www.w3.org/2000/svg" viewBox="-4 -4 8 8"><circle r="3" fill="#03cafc"/></svg> */
.switch {
  --bs-form-switch-bg: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%22-4%20-4%208%208%22%3E%3Ccircle%20r%3D%223%22%20fill%3D%22%2303cafc%22%2F%3E%3C%2Fsvg%3E') !important
}

/* <svg xmlns="http://www.w3.org/2000/svg" viewBox="-4 -4 8 8"><circle r="3" fill="#03cafc"/></svg> */
.switch:checked {
  --bs-form-switch-bg: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%22-4%20-4%208%208%22%3E%3Ccircle%20r%3D%223%22%20fill%3D%22%2303cafc%22%2F%3E%3C%2Fsvg%3E') !important;
}

.tooltip-dialog {
  position: absolute;
  width: 50vh;
  background-color: var(--color-background);
  z-index: 101;
  border: 1px solid var(--color-borders) !important;
  border-radius: 5px;
}

.ignore-blur {
  z-index: 101 !important;
}

.max-width {
  max-width: 80%;
}

.wrap-text {
  word-break: break-word;
  overflow-wrap: break-word;
}
